# Dependências
node_modules/
*/node_modules/

# Logs
*.log
npm-debug.log*

# Build anterior
dist/
build/
*/dist/
*/build/

# Ambiente
.env
.env.local
.env.*.local
*/.env

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Docs
README.md
*.md
